.myDiv {
	border: 3px outset black;
	background-color: purple;
	text-align: center;
}

#stackoverflow {
	border: 2px solid black;
	background-color: orange;
	text-align: center;
}

#devdocs {
	border: 2px solid black;
	background-color: orange;
	text-align: center;
}

#resumake {
	border: 2px solid black;
	background-color: orange;
	text-align: center;
}

#rayso {
	border: 2px solid black;
	background-color: orange;
	text-align: center;
}

#roadmapsh {
	border: 2px solid black;
	background-color: orange;
	text-align: center;
}

#colorhunt {
	border: 2px solid black;
	background-color: orange;
	text-align: center;
}

.Home {
	background-color: orange;
	border: 6px outset orange;
	text-decoration-color: purple;
}


.about {
	background-color: orange;
	border: 6px outset orange;
	text-decoration-color: purple;
}



button {
	background-color: orange;
	border: 6px outset orange;
	text-decoration-color: purple;
}



